<form class="form text-center" role="search">
  <div class="form-inline">
    <input type="text" class="form-control" placeholder="Search" name="symbol" [(ngModel)]="symbol">
    <button type="submit" class="btn btn-default" ><i class="glyphicon glyphicon-search"></i></button>
  </div>
</form>
<app-chart [symbol]="symbol" [chartData]="chartData"></app-chart>
<div class="row">
  <div class="col-md-3">
    <h3>Private Notes</h3>
    <p>Test Notes</p>
  </div>
  <div class="col-md-3">
    <h3>Public Notes</h3>
    <p>Test Notes</p>
  </div>
  <div class="col-md-3">
    <h3>News</h3>
    <p>Articles</p>
  </div>
  <div class="col-md-3">
    <h3>Twitter</h3>
    <p>Tweets</p>
  </div>
</div>
